/**********/
/* GLOBAL */
/**********/
h1, h2, h3, h4, h5, h6, p, a, li, th, fieldset
{
    color: #ff0b51;
}
.new-section
{
    background-color: #ff0b51;
    width: auto;
    height: 15px;
}
.masthead
{
    height: 400px;
    position: relative;
    background-color: #240d30;
}
.masthead > div
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.masthead > div > h1
{
    color: #ff0b51;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

/* textbox */
.textbox
{
    display: grid;
    align-items: center;
    background-color: #240d30;
}
.textbox > h2
{
    font-size: 60px;
    color: #ff0b51;
    display: block;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
.textbox > h6
{
    font-size: 22px;
    color: #ff0b51;
    display: block;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
    font-style: italic;
}

.textbox > div
{
    width: 750px;
    border: 15px solid #ff0b51;
    background-color: #240d30;
    padding: 50px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}
.textbox > div > p
{
    font-size: 24px;
    color: #ff0b51; 
}
.textbox > video
{
    margin-left: auto;
    margin-right: auto;
    width: 320;
    height: auto;
}
.textbox > img
{
    margin-left: auto;
    margin-right: auto;
    height: 425px;
    width: auto;
} 
.textbox > a 
{
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    color: #ff0b51; 
}

.table
{
    background-color: #240d30; 
    overflow: hidden;
}
.table > h2
{
    font-size: 60px;
    color: #ff0b51;
    display: block;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
.table > div > table
{
    text-align: center;
    width: 100%;
    color: #ff0b51; 
}
.table > div > table > thead > tr > th
{
    border:4px solid #ff0b51;
    font-size: 32px;
}
.table > div > table > tbody > tr > td
{
    border:2px solid #ff0b51;
    font-size: 22px;
    padding: 12px;
}
/* h2 */
.h2
{
    background-color: #240d30;
}
.h2 > div > h2
{
    font-size: 60px;
    text-align: center;
}
/* button */
button
{
    font-size: 20px;
    padding: 3px 5px;
    text-align: center;
    background-color: #ff0b51;
    color: #fff;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    transition: .5s ease-in-out;
}
button:hover
{
    background-color: #B90E0A
}

@media (orientation: portrait)
{
    button
    {
        font-size: 16px;
        padding: 1px 3px;
    }
}

/**********/
/* HEADER */
/**********/
.btn-primary, .navbar-dark 
{
    background-color: #4c057a;
    height: 130px;
}

.navbar-dark > ul > li > a:hover
{
    color: #B90E0A
}
body > nav > ul > li > a
{
    font-size: 40px;
    vertical-align: middle;
    padding: 0px 8px;
    text-align: center;
    color: #ff0b51;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    transition: .5s ease-in-out;
}
body > nav > ul > li > img
{
    height: 125px;
    width: auto;
    padding: 0px 2px;
}
/************/
/*   home   */
/************/


/*************/
/*   staff   */
/*************/
/* row one */
.s-row-one
{
    background-color: #240d30; 
    grid-template-columns: repeat(3, 33%);
    display: grid;
    column-gap: auto;
    justify-content: center;
}
.s-h2 > h2
{
    font-size: 60px;
    color: #ff0b51;
    text-align: center;
    font-weight: bold;
}
.s-row-one > div > h3
{
    font-size: 40px;
    color: #ff0b51;
    text-align: center;
}
.s-row-one > div > h5
{
    font-size: 30px;
    color: #ff0b51;
    text-align: center;
    font-style: italic;
}
.s-row-one > div > img
{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.s-row-one > div > a
{
    text-decoration: none;
    transition: .2s ease-in-out;
    padding: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.s-row-one > div > a > img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: auto;
}
.s-row-two > div
{
    width: 750px;
    border: 15px solid #ff0b51;
    background-color: #240d30;
    padding: 50px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}
.s-row-two > div > p
{
    color:#ff0b51;
}

/* row one */
.s-row-three
{
    background-color: #240d30;
    grid-template-columns: repeat(2, 50%);
    display: grid;
    column-gap: auto;
    justify-content: center;
}
.s-row-three > div > h3
{
    font-size: 40px;
    text-align: center;
}
.s-row-three > div > h6
{
    font-size: 25px;
    text-align: center;
    font-style: italic;
}
.s-row-three > div > form > fieldset
{
    font-size: 22px;
}

/**************/
/*   footer   */
/**************/
.footer
{
    grid-area: footer;
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    background-color: #4c057a;
}
.footer > img
{
    align-items: center;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: auto;
    padding: 20px 2px;
}
.footer > p
{
    color: #ff0b51;
    text-align: center;
    font-size: 14px;
}
.footer > div
{
    align-items: center;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.footer > div > a
{
    padding: 0px 2px;
    text-decoration: none;
    transition: .2s ease-in-out;
}
.footer > div > a > img
{
    height: 30px;
    width: auto;
    padding: 0px 2px;
}
/*********************/
/*   rocket league   */
/*********************/

.rh-title > h2
{
    font-size: 50px;
    color: #ff0b51;
    text-align: center;
    font-weight: bold;
}
.rh-title > div
{
    width: 750px;
    border: 15px solid #ff0b51;
    background-color: #240d30;
    padding: 50px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}
.rh-title > div > p
{
    color:#ff0b51;
}

/********************/
/*   team details   */
/********************/
/* title */
.td-title
{
    background-color: #240d30;
    overflow: hidden;
}
.td-title > div > h1
{
    font-size: 60px;
    color: #ff0b51;
    text-align: center;
    font-weight: bold;
}
/* title */
.td-title > div > h2
{
    font-size: 50px;
    color: #ff0b51;
    text-align: center;
}

/* row one */
.td-row-one
{
    grid-template-columns: repeat(2, 50%);
    display: grid;
    column-gap: auto;
    justify-content: center;
    background-color: #240d30;
}
.td-row-one > div
{
    width: 475px;
    border: 15px solid #ff0b51;
    background-color: #240d30;
    padding: 30px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.td-row-one > div > h3
{
    font-size: 40px;
    color: #ff0b51;
    text-align: center;
    font-weight: bold;
}
.td-row-one > div > div > h5
{
    font-size: 30px;
    color: #ff0b51;
    text-align: center;
    text-decoration: none;
}
.td-row-one > div > div > h6
{
    font-size: 20px;
    color: #ff0b51;
    text-align: center;
    text-decoration: none;
}
/* row 2 */
.td-row-three
{
    display: grid;
    align-items: center;
    background-color: #240d30;
}
.td-row-three > a
{
    font-size: 25px;
    text-align: center;
    color: #ff0b51;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    transition: .5s ease-in-out;
}
.td-row-three > a:hover
{
    color: #B90E0A
}
/**********************/
/*   player details   */
/**********************/
/* title */
.pd-title
{
    background-color: #240d30;
    overflow: hidden;
}
.pd-title > h1
{
    font-size: 60px;
    color: #ff0b51;
    text-align: center;
    font-weight: bold;
}
.pd-title > h6
{
    font-size: 20px;
    color: #ff0b51;
    text-align: center;
}
/* row one */
.pd-row-one
{
    background-color: #240d30;
    overflow: hidden;
}
.pd-row-one > div
{
    background-color: #240d30;
    width: 475px;
    border: 15px solid #ff0b51;
    padding: 30px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}
.pd-row-one > div > h3
{
    font-size: 40px;
    color: #ff0b51;
    text-align: center;
    font-weight: bold;
}
.pd-row-one > div > div > h5
{
    font-size: 30px;
    color: #ff0b51;
    text-align: left;
}


.login
{
    background-color: #240d30;
}
/*********************/
/* responsive design */
/*********************/
@media (orientation: portrait)
{
    /* Header */
    .btn-primary, .navbar-dark 
    {
        height: 80px;
        position: fixed;
    }
    body > nav > ul > li > a
    {
        font-size: 14px;
        padding: 0px 3px;
    }
    body > nav > ul > li > img
    {
        height: 50px;
    }
    /* new section */
    .new-section
    {
        height: 10px;
    }
    /* h2 */
    .h2 > div > h2
    {
        font-size: 30px;
    }
    /* masthead */
    .masthead
    {
        height: 200px;
    }
    .masthead > div > h1
    {
        font-size: 32px;
    }
    /* textbox */
    .textbox > h2
    {
        font-size: 26px;
    }
    .textbox > h6
    {
        font-size: 12px;
    }
    .textbox > div
    {
        width: 275px;
        border: 10px solid #ff0b51;
        padding: 15px;
    }
    .textbox > div > p
    {
        font-size: 15px;
        color: #ff0b51; 
    }
    .textbox > video
    {
        width: 320px;
        height: auto;
    }
    .textbox > img
    {
        height: 175px;
    } 
    .textbox > a 
    {
        font-size: 20px;
    }
    .table
    {
        background-color: #240d30; 
    }
    .table > h2
    {
        font-size: 20px;
    }
    .table > div > table > thead > tr > th
    {
        font-size: 15px;
    }
    .table > div > table > tbody > tr > td
    {
        font-size: 10px;
        padding: 8px;
    }
    /* staff row one */
    .s-row-one
    {
        grid-template-columns: repeat(1, 100%);
    }
    .s-row-one > div > h3
    {
        font-size: 25px;
    }
    .s-row-one > div > h5
    {
        font-size: 15px;
    }
    .s-row-one > div > a > img
    {
        height: 30px;
    }
    /* staff row two */
    .s-h2-2 > h2
    {
        font-size: 30px;
    }

    .s-row-two > div
    {
        width: 350px;
        padding: 25px;
    }
    .s-row-two > p
    {
        font-size: 16px;
    }

    /* staff row three */
    .s-row-three
    {
        grid-template-columns: repeat(1, 100%);
    }
    .s-row-three > div > h3
    {
        font-size: 25px;
    }
    .s-row-three > div
    {
        width: 300px;
        padding: 15px;
    }
    .s-row-three > div > h6
    {
        font-size: 20px;
    }
    .s-row-three > div > form > fieldset
    {
        font-size: 10px;
    }
    /* staff row four */
    .s-row-four > h3
    {
        font-size: 25px;
    }
    .s-row-four > form > div > button
    {
        font-size: 16px;
        padding: 1px 3px;
    }

    /* rocket league titles */
    .rh-title > h2 
    {
        font-size: 30px;
    }
    .rh-title > div
    {
        width: 350px;
        padding: 25px;
    }
    .rh-title > div > p
    {
        font-size: 16px;
    }
    /* footer */
    .footer > img
    {
        height: 80px;
    }
    .footer > p
    {
        font-size: 15px;
    }
    .footer > div > a > img
    {
        height: 20px;
    }

    .rh-h2-2 > h2
    {
        font-size: 30px;
    }

    /* team details title */
    .td-title > div > h1
    {
        font-size: 35px;
    }
     /* team details title */
     .td-title > div > h2
     {
         font-size: 28px;
     }

    /* team details row one */
    .td-row-one
    {
        grid-template-columns: repeat(1, 100%);
    }
    .td-row-one > div
    {
        width: 300px;
        padding: 15px;
    }
    .td-row-one > div > h3
    {
        font-size: 25px;
    }
    .td-row-one > div > div > h5
    {
        font-size: 20px;
    }
    .td-row-one > div > div > h6
    {
        font-size: 15px;
    }
    /* player details title */
    .td-title > h1
    {
        font-size: 30px;
    }
    .td-title > h6
    {
        font-size: 10px;
    }
    /* player details title */
    .pd-title > h1
    {
        font-size: 30px;
    }
    .pd-title > h6
    {
        font-size: 15px;
        color: #ff0b51;
        text-align: center;
    }
    /* player details row one */
    .pd-row-one > div
    {
        width: 300px;
        padding: 20px;
    }
    .pd-row-one > div > h3
    {
        font-size: 25px;
    }
    .pd-row-one > div > div > h5
    {
        font-size: 20px;
    }
}