/**********/
/* GLOBAL */
/**********/
button
{
    font-size: 20px;
    padding: 3px 5px;
    text-align: center;
    background-color: #ff0b51;
    color: #fff;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    transition: .5s ease-in-out;
}
button:hover
{
    background-color: #B90E0A
}

@media (orientation: portrait)
{
    button
    {
        font-size: 16px;
        padding: 1px 3px;
    }
}
/**********/
/* HEADER */
/**********/
.btn-primary, .navbar-dark 
{
    background-color: #4c057a;
    height: 125px;
}

.navbar-dark > ul > li > a:hover
{
    background-color: #B90E0A
}

body > nav > ul > li > a
{
    font-size: 12px;
    padding: 4px 7px;
    text-align: center;
    background-color: #ff0b51;
    color: #fff;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    transition: .5s ease-in-out;
}

body > nav > ul > li > img
{
    height: 125px;
    width: auto;
    padding: 0px 2px;
}

/************/
/*   home   */
/************/

/* masthead */
.i-masthead
{
    background-image: url('./img/i-masthead.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 75vh;
}
.i-masthead > div
{
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}


/* row one */
.i-row-one
{
    display: grid;
    align-items: center;
    background-color:#fff;;
}

.i-row-one > h2
{
    font-size: 60px;
    color: #ff0b51;
    display: block;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.i-row-one > div
{
    width: 750px;
    border: 15px solid #ff0b51;
    background-color: #240d30;
    padding: 50px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}
.i-row-one > div > p
{
    color: #ff0b51; 
}

/* row three */
.i-row-three
{
  display: grid;
  align-items: center;
  padding: 10% 0%;
  background-color: #fff;;
}

.i-row-three > h2
{
    font-size: 60px;
    color: #ff0b51;
    display: block;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.i-row-three > img
{
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.i-row-three > a
{
    font-size: 40px;
    padding: 30px 50px;
    text-align: center;
    background-color: #ff0b51;
    color: #fff;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    transition: .5s ease-in-out;
}

.i-row-three > a:hover
{
    background-color: #B90E0A
}
/*************/
/*   staff   */
/*************/
/* row one */
.s-row-one
{
    grid-template-columns: repeat(3, 33%);
    display: grid;
    column-gap: auto;
    justify-content: center;
}
.s-h2-1 > h2
{
    font-size: 60px;
    color: #ff0b51;
    text-align: center;
    font-weight: bold;
}
.s-row-one > div > h3
{
    font-size: 40px;
    color: #ff0b51;
    text-align: center;
}
.s-row-one > div > h5
{
    font-size: 30px;
    color: #ff0b51;
    text-align: center;
    font-style: italic;
}
.s-row-one > div > img
{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* row two */
.s-h2-2 > h2
{
    font-size: 60px;
    color: #ff0b51;
    text-align: center;
    font-weight: bold;
}

.s-row-two > div
{
    width: 750px;
    border: 15px solid #ff0b51;
    background-color: #240d30;
    padding: 50px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}
.s-row-two > div > p
{
    color:#ff0b51;
}

/* row three */
.s-row-three > h3
{
    font-size: 50px;
    color: #ff0b51;
    text-align: center;
}
.s-row-three > div
{
    width: 500px;
    border: 15px solid #ff0b51;
    background-color: #240d30;
    padding: 30px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}
.s-row-three > div > h6
{
    font-size: 30px;
    color:#ff0b51;
    text-align: center;
}

/* row four */
.s-row-four > h3
{
    font-size: 50px;
    color: #ff0b51;
    text-align: center;
}

.s-row-four > form > div > button
{
    font-size: 20px;
    padding: 3px 5px;
    text-align: center;
    background-color: #4169e1;
    color: #fff;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    transition: .5s ease-in-out;
}
.s-row-four > form > div > button:hover
{
    background-color: #000080;
}


/**************/
/*   footer   */
/**************/
.footer
{
  grid-area: footer;
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  background-color: #4c057a;
}
.footer > div > h1
{
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.footer > div > p
{
  color: #fff;
  text-align: center;
  font-size: 24px;
}

/*********************/
/* responsive design */
/*********************/
@media (orientation: portrait)
{
    /* Header */
    .btn-primary, .navbar-dark 
    {
        height: 80px;
        position: fixed;
    }
    body > nav > ul > li > a
    {
        font-size: 8px;
        padding: 2px 3px;
    }
    body > nav > ul > li > img
    {
        height: 55px;
    }
    /* masthead */
    .i-masthead
    {
        height: 28vh;
    }

    /* index row one */
    .i-row-one > div
    {
        width: 350px;
        padding: 25px;
    }

    .i-row-one > div > p
    {
        font-size: 16px;
    }

    .i-row-one > h2
    {
        font-size: 30px;
    }

    /* index row three */
    .i-row-three > h2
    {
        font-size: 30px;
    }
    .i-row-three > img
    {
        height: 35vh;
    }
    .i-row-three > a
    {
        font-size: 20px;
        padding: 5px 10px;
    }
    /* staff row one */
    .s-row-one
    {
        grid-template-columns: repeat(1, 100%);
    }
    .s-h2-1 > h2
    {
        font-size: 30px;
    }
    .s-row-one > div > h3
    {
        font-size: 25px;
    }
    .s-row-one > div > h5
    {
        font-size: 15px;
    }
    /* staff row two */
    .s-h2-2 > h2
    {
        font-size: 30px;
    }

    .s-row-two > div
    {
        width: 350px;
        padding: 25px;
    }
    .s-row-two > p
    {
        font-size: 16px;
    }

    /* staff row three */
    .s-row-three > h3
    {
        font-size: 25px;
    }
    .s-row-three > div
    {
        width: 300px;
        padding: 15px;
    }
    .s-row-three > div > h6
    {
        font-size: 20px;
    }

    /* staff row four */
    .s-row-four > h3
    {
        font-size: 25px;
    }
    .s-row-four > form > div > button
    {
        font-size: 16px;
        padding: 1px 3px;
    }
    /* footer */
    .footer > div > h1
    {
    color: #fff;
    font-size: 30px;
    }

    .footer > div > p
    {
    color: #fff;
    font-size: 15px;
    }
}